[2020-04-13 15:13] decon-structed opened #2 "Wrath of Hive Duration Units?"
In the config you say,
[code]

It they're not in seconds, what are they? Could the config file be updated to clarify for others?

[2020-04-13 15:51] TelepathicGrunt commented on #2
It seems to be based on ticks. At the time, I didn't know the conversion of the unit to actual time but now I believe it is generally 20 ticks per second. I can do some testing and update the comment there once I confirm this. thank you for reminding me of this lol

[2020-04-13 15:57] TelepathicGrunt opened #3 "make bees in Bumblezone only be aggressive to players with wrath of the hive"
changes to make within the dimension:

-bees only attack players or entities with Wrath of the Hive effect and will not attack other nearby entities after the target is dead.

-hitting bees should cause Wrath of the Hive.

-Bees should attack Spider and Cave Spiders by default like they do with bears right now.

[2020-07-10 21:51] Worgrick opened #5 "i dont go in with enderpearl"

[2020-07-10 22:29] TelepathicGrunt commented on #5
I’m gonna need more info as I was able to enter The Bumblezone when I was testing. Maybe I missed something.

But let’s start with some troubleshooting first so I’ll know where to look and how to fix the issue. Did you throw the Enderpearl at a Beenest or Beehive? Did you have other mods on and if so, what mods were they? Was any configs changed? The Latest.log file will also greatly help too

[2020-07-18 14:32] TelepathicGrunt commented on #5
I'm gonna close this issue has it has been over a week with no additional info. If you are still having issues, please re-open this issue with details such as which block are you throwing the pearl at and what mods you have on.

[2020-07-18 14:32] #5 closed

[2020-07-18 14:32] TelepathicGrunt commented on #3
oh i already did this lol. oops. time to close

[2020-07-18 14:32] #3 closed

[2020-07-18 14:36] TelepathicGrunt commented on #2
Dang I forgot about this completely! Config will now says the duration config is in ticks and 20 ticks equal 1 second. Sorry about that. Will close this now as this will be in next update!

[2020-07-18 14:36] #2 closed

[2020-07-24 18:00] TheEpicBlock opened #6 "Crash on dedicated server"
https://github.com/TelepathicGrunt/Bumblezone-Fabric/blob/master/src/main/java/net/telepathicgrunt/bumblezone/features/CaveSugarWaterfall.java#L35
`Block#getName` is marked as client only. Therefor this causes a `NoSuchMethodError` when run on a dedicated server. This code would also break if other languages would be added :P

[2020-07-24 18:06] TheEpicBlock commented on #6
https://github.com/TelepathicGrunt/Bumblezone-Fabric/blob/8503fd7a9c53d03ab066940baf45e93c843c66a0/src/main/java/net/telepathicgrunt/bumblezone/entities/PlayerTeleportation.java#L156
Found it being used here too. The translation key for the block should probably be used here

[2020-07-24 21:22] TelepathicGrunt commented on #6
Funny story about that lol. In forge (where I made Bumblezone originally for), blocks have a way to get their registry name directly from the block itself due to a Forge patch. In fabric, I didn’t realize this and thought .getName/getLoottableName was the yarn names when it wasn’t. I went to fix that up so it gets registry names again but it seems I missed that one in the sugar water feature. I’ll

[2020-07-24 21:23] TelepathicGrunt commented on #6
But yeah, thank you for bringing this to my attention! Next update should fix that sugar water issue

[2020-07-25 00:15] TelepathicGrunt commented on #6
Ah shoot. the Player teleportation one was also broken as the code never got executed due to the checks lmao. Both of these are fixed in 2.1.2 so try that out.

Thank you for reporting the issue!

[2020-07-25 00:15] #6 closed

[2020-07-30 15:26] decon-structed opened #7 "Worlds using Experimental Settings are not supported"
When creating a new world, I get the following warning:

I wasn't able to find any useful information about this message on Google. What does this mean, and is there anything I should watch out for?

[2020-07-30 15:29] TelepathicGrunt commented on #7
It's just a vague warning mojang made that happens when you use any mod with dimensions or dimension datapacks as the dimension stuff is very work-in-progress on mojang's side. There's a fabric mod i think that disables that warning screen.

If there's any issue you're facing with the mod, just let me know!

[2020-07-30 15:29] #7 closed

[2020-07-30 15:31] TelepathicGrunt commented on #7
https://www.curseforge.com/minecraft/mc-mods/experimentaway

Here's the mod that disables that warning screen

[2020-07-30 15:32] decon-structed commented on #7
Thanks

[2020-08-02 13:41] TelepathicGrunt opened #8 "Switch config to autoconfigu+cloth"
Need to switch to a more reliable config maintainer

[2020-08-13 15:32] TelepathicGrunt opened #10 "depends isn't preventing startup without the libs"
wtf

[2020-09-01 23:49] #10 closed

[2020-09-01 23:49] #8 closed

[2020-09-02 07:12] Afrocntrik opened #11 "Throwing an Ender Pearl anywhere in the dimension gives this"
![2020-09-01_20 08 53](https://user-images.githubusercontent.com/11052983/91943114-0d5d7900-ecca-11ea-87fe-11f93a660fc8.png)
![2020-09-01_20 08 50](https://user-images.githubusercontent.com/11052983/91943120-0f273c80-ecca-11ea-87a6-7eb26bb93b0f.png)

[2020-09-02 07:12] Afrocntrik commented on #11
This is probably intended but is there a way to disable?

[2020-09-02 08:26] Afrocntrik opened #12 "Log Spam"
![image](https://user-images.githubusercontent.com/11052983/91957690-5dd9d400-ecd4-11ea-8804-b296e753cda9.png)
![image](https://user-images.githubusercontent.com/11052983/91957679-5adee380-ecd4-11ea-9f06-77f7069a404d.png)
![image](https://user-images.githubusercontent.com/11052983/91957701-629e8800-ecd4-11ea-9c19-82c395ee9fc7.png)

[2020-09-02 12:51] TelepathicGrunt commented on #11
Well, the reason you can't disable it is because it's a bug lmao. I need to fix it so the warning only happens when the enderpearl is thrown at a bee nest

[2020-09-02 13:14] TelepathicGrunt commented on #12
I'm not able to reproduce this at all. I tried having byg and bumblezone on and make a new world. Then tried making a world with byg and then re-enter it with bumblezone. And a few more stuff.

Can you explain the exact steps you took to cause this issue? What dimension were you in? May I see the entire mod list you have on?

[2020-09-02 13:52] TelepathicGrunt commented on #11
Fixed in v2.2.2!
https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-fabric/files/3048105

[2020-09-02 13:52] #11 closed

[2020-09-02 18:01] Afrocntrik commented on #11
Sweet thank you

[2020-09-02 18:16] Afrocntrik commented on #12
Yeah no problem;
fermion@2.5.201, fabric-keybindings-v0@0.2.0+3fa9f7c54e, dynamicsoundfilters@1.1.3+1.16.2, roughlyenoughitems-api@5.2.10, ezpas@1.2.1-1.16.2, fermion-orientation@1.1.201, fabricloader@0.9.2+build.206, artifice@0.13.1+1.16.2-rc1, hotfurnace@1.1.1, mobs_attempt_parkour@0.2.1-1.16.2, fermion-gui@2.4.201, kibe@1.3.3-BETA, fabric-game-rule-api-v1@1.0.1+91555cd14e, fermion-modkeys@1.9.2

[2020-09-02 18:54] Afrocntrik commented on #12
Actually here's just a GDLauncher import if that's easier
[Dev Pack-1.0.zip](https://github.com/TelepathicGrunt/Bumblezone-Fabric/files/5164234/Dev.Pack-1.0.zip)

[2020-09-02 19:12] TelepathicGrunt commented on #12
The log spam is definitely tied to the nether trying to copy the bumblezone. I seen a similar issue like this before except it happens when a person tries the disable mod feature in multimc (which just changes the mod's extension from .jar to .disable) while also having immersive portals on. What seemed to happen was immersive portals still attempted to read the mod's dimension or something even t

[2020-09-02 19:31] Afrocntrik commented on #12
Okay thank you, I hope you can figure this out

[2020-09-02 23:34] TelepathicGrunt commented on #12
It seems to be a three-way mod compat issue between The Bumblezone adding 3 new json biomes to the biome registry and BYG along with some third unknown mod. When I do byg and the bumblezone alone, it works. But when the two are together in the modpack, byg's nether biomes goes missing and is replaced by vanilla's ocean biome (which leads to the water stuff you see).

Still narrowing down exactly t

[2020-09-04 20:14] TelepathicGrunt commented on #12
So I came down to this list of mods but when I remove any of them, byg's biomes comes back. Literally any of them. Even the headsdowndisplay mod!
![image](https://user-images.githubusercontent.com/40846040/92281313-4b74bb80-eec9-11ea-8b81-b065deb8381b.png)

It's like something about all these mods together breaks the registries and causes byg's biomes to disappear and techreborn to explode in the

[2020-09-04 21:59] TelepathicGrunt commented on #12
AHHAHAAHAHAH

....it was the bumblezone causing this chaos.....

It was classloading a specific part of code when it shouldn't but it only blew up when a certain number of mods are on.....

FIX COMING ASAP

[2020-09-04 22:18] TelepathicGrunt commented on #12
v.2.2.3 is now out and should fix this issue! Sorry about that!
https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-fabric/files/3049852

[2020-09-05 06:34] IAmSneak opened #13 "Incompatible With Carpet Mod"
Fabric 1.16.2 Server
Java 11
Mods: Carpet, Bumblezone, Fabric API. All latest versions for 1.16.2
Crash Report:
[crash-2020-09-05_02.33.56-server.txt](https://github.com/TelepathicGrunt/Bumblezone-Fabric/files/5177629/crash-2020-09-05_02.33.56-server.txt)

[2020-09-05 12:42] TelepathicGrunt commented on #13
I believe their mixin here is conflicting with mine
https://github.com/gnembon/fabric-carpet/blob/3167fe06f38053dc34bfab57e066de7a850b57d5/src/main/java/carpet/mixins/SpawnHelperMixin.java#L152-L173

https://github.com/TelepathicGrunt/Bumblezone-Fabric/blob/master/src/main/java/net/telepathicgrunt/bumblezone/mixin/PollenedBeeNaturalSpawnMixin.java

Maybe I can move my mixin...

[2020-09-08 22:26] TelepathicGrunt commented on #13
v2.2.4 should fix this crash. Thank you for reporting this! :)
https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-fabric/files/3052555

[2020-09-08 22:26] #13 closed

[2020-10-02 08:02] copygirl opened #15 "Dimension scale not applied when exiting?"
On the CurseForge page you mention this:

However, when testing, this didn't seem to be the case. I tried exiting the dimension and landed at about the same location in the overworld as I was in the Bumblezone. It seemed to created a new beehive when I did this. Additionally, the wording "by default" suggests that there would be a configuration option to allow changing the scale..? I did not find

[2020-10-02 16:01] TelepathicGrunt commented on #15
You would need a datapack to change the coordinate scale of the dimension of the dimension's json file.
https://github.com/TelepathicGrunt/Bumblezone-Fabric/blob/2660759219820429c8bf7729382cc9633e7fdaec/src/main/resources/data/the_bumblezone/dimension_type/the_bumblezone.json#L15

The scaling will only take effect for teleportation mode 1 in the configs if you leave the dimension and there is no b

[2020-10-02 20:21] copygirl commented on #15
Is the coordinate scale supposed to be supplied in a datapack or is this an oversight?
(As I said the CurseForge page mentions 10 blocks being the default.)

I think the explanations are clear otherwise. If I understand correctly, for mode 1, the coordinate scaling is applied to the position in the Bumblezone (200,50 becomes 2000,500), then it looks for a suitable beenest nearby or creates one in

[2020-10-02 21:32] TelepathicGrunt commented on #15
The reason why it's a datapack thing instead of a config is because the jump of 1.15.2 to 1.16+ changed dimensions to make them json driven (well I could've made them in code but it would've be much more work lol).

Here, this datapack should let you change the values can all. Just go into the json file and mess with it till the coordinate scale is what you want
[bumblezoneDim.zip](https://github.

[2020-10-03 02:28] TelepathicGrunt commented on #15
Oh the coordinate conversion is broken lmao. Oops
I went from 100, 100 to 100, 100...

[2020-10-03 04:47] copygirl commented on #15
I've started tinkering with data pack modifications for the modpack I'm working on so I'm becoming somewhat familiar. Thank you for providing an example however, and looking into the issue!

[2020-10-03 23:24] TelepathicGrunt commented on #15
Just released 2.2.6 that fixed this bug! Thank you for reporting this! I surprised no one else opened an issue about this as the bug has been around since the initial 1.16.2 release lmao

https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-fabric/files/3071293

[2020-10-03 23:24] #15 closed

[2020-10-03 23:31] TelepathicGrunt commented on #15
Last thing, I just looked at the mod description and many was it out of date. Sorry about that! I updated it to mention that the config is now in-game and some options are to be controlled by datapacks. Hopefully this wont confuse anymore people

[2020-10-04 05:08] copygirl commented on #15
Thank you for your time - and the mod, of course! :green_heart:

[2020-10-28 02:05] runningwithscissors1337 opened #17 "(1.16.3) Unknown Mod Interaction Kills Water As A Concept"
I have spent the past few hours attempting to track down a bug in my personal modpack that causes water to act like air blocks (no swimming/color change, standard gravity, etc). I have finally tracked the bug back to this specific mod, my primary suspicion at the time of writing is some kind of interaction between BetterCaves, Optifabric, and Optifine, as every other mod that remained had very lit

[2020-10-28 02:08] TelepathicGrunt commented on #17
A log would be helpful a ton but if optifine is involved, then it is most likely impossible for me to fix the bug on my end as optifine closed source and wrecks everyone due to it's massive replacements of entire swaths of code

[2020-10-28 02:16] runningwithscissors1337 commented on #17
good to know, I created several logs in my search for the cause of this bug so I will be able to post all of them later tonight, I will also be testing a completely clean installation running nothing but Optifabric, Optifine, Better Caves, and this and try to cut it down to whatever mod is the problem

[2020-10-28 18:24] runningwithscissors1337 commented on #17
Optifine was a dead end but I went through a lot of the mods I was using and found that Limitless, a mod i was using until very recently, has an identical bug, I tested it and lo and behold, removing Limitless fixes the issue just as much as removing The Bumblezone, uncertain what causes it, but i have attached the past few logs of me attempting to isolate the issue, theoretically the bug will not

[2020-10-31 21:04] TelepathicGrunt opened #18 "Make bumblezone use the new biome modification api from FAPI"

[2020-11-05 00:48] TelepathicGrunt commented on #18
not needed actually lol. oops

[2020-11-05 00:48] #18 closed

[2020-11-05 00:58] TelepathicGrunt commented on #17
I just tested with Limitless and Bumblezone on and water seems to be fine for me. Not sure what is happening. Is this still a problem right now? Does it happen if you make a new world with all the mods on? If so, can you send me a zip file of all the mods so I can try and reproduce the issue?

[2020-11-21 22:33] TelepathicGrunt commented on #17
I guess I'll close this issue report then lol. let me know if this still happens with latest bumblezone and if so, please try to give me the mod folder with the mods so I can quickly test and reproduce the issue

[2020-12-12 12:04] laxotor opened #19 "Server crashes when throwing enderpearls into bee nest"
[2020-12-12-6.log](https://github.com/TelepathicGrunt/Bumblezone-Fabric/files/5683004/2020-12-12-6.log)
[crash-2020-12-12_20.46.27-server.txt](https://github.com/TelepathicGrunt/Bumblezone-Fabric/files/5683006/crash-2020-12-12_20.46.27-server.txt)

It works fine in singleplayer, but crashes in multiplayer

[2020-12-12 14:31] TelepathicGrunt commented on #19
Dang tags. Fix will be soon. That you for reporting!

[2020-12-12 20:36] TelepathicGrunt commented on #19
https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-fabric/files/3136995
fixed now! Thank you!

[2020-12-12 20:36] #19 closed

[2020-12-12 22:39] HumanMint opened #20 "Nether and End portal doesn't work anymore after removing mod from server"
Our server had an issue with bumblezone 2.2.12 where when we threw an ender pearl literally anywhere it would crash the server with this log
`---- Minecraft Crash Report ----
// My bad.

Time: 12/12/20 1:58 PM
Description: Ticking entity

java.lang.IllegalStateException: Tag the_bumblezone:blacklisted_teleportable_hive_blocks used before it was bound
	at net.minecraft.class_5120$class_5121.method_

[2020-12-30 13:58] TelepathicGrunt opened #21 "Config to make teleporting to Bumblezone only work in overworld"
Just a nice option to have

[2020-12-30 18:16] TelepathicGrunt opened #22 "Teleportation 2 keeps player in sky or below y = 0 when teleporting out of bumblezone"
????
Need to test forge version too. Thought i fixed this

[2021-01-11 14:43] TelepathicGrunt commented on #20
Oh shoot I missed this report. Anyway, the issue you faced is this mojang bug which I do not know of any mod that fixes it https://bugs.mojang.com/browse/MC-197860

Basically, removal of any dimension mod or datapack dimension may break the nether and end. There may be a way for you to restore them by editing the level.dat file. Maybe make a new world and copy the dimension info from that level.da

[2021-01-11 14:43] #20 closed

[2021-01-11 15:56] TelepathicGrunt commented on #22
fixed in 2.2.14

[2021-01-11 15:56] #22 closed

[2021-01-11 15:56] TelepathicGrunt commented on #21
added in 2.2.14

[2021-01-11 15:56] #21 closed

[2021-01-12 07:29] HumanMint commented on #20
Thanks for the notice and helpful info! We decided to just reset since the world was a day old back then. I will make sure to be careful from next time. I appreciate the work that you're putting into this project and hope for the best!

[2021-02-26 15:44] srnyx opened #23 "Question"
Is it safe to remove the mod after already playing with it for a bit?
Like will it corrupt anything?

[2021-02-26 15:48] TelepathicGrunt commented on #23
There's only one main concern and that's this mojang bug https://bugs.mojang.com/browse/MC-197860

Removing a dimension mod may break the nether and end dimension. but there's a workaround for that. First, backup your world. Then enter the world. Exit. Then open the level.dat file for that world with NBTExplorer, open WorldGenSettings section, and delete the dimensions package entirely. Enter worl

[2021-02-26 15:58] srnyx commented on #23
What if I have other mods on my server like BetterEnd and BYG?

[2021-02-26 17:07] TelepathicGrunt commented on #23
that does complicate thing. In WorldGenSettings's dimension package, find bumblezone and delete just that entry alone and see if that works

[2021-02-26 17:19] srnyx commented on #23
So I'd do this?
1. Backup world
2. Enter the world
3. Exit the world
4. Open the level.dat file for that world
5. Open the WorldGenSettings section and delete the Bumblezone section
6. Enter the world
7. Exit the world
8. Enter the world again and all dimensions are back. You can check by doing /execute in and the vanilla dimensions should be visible again

[2021-02-26 17:21] TelepathicGrunt commented on #23
You can skip step 2 and 3. In fact, if removing just the bumblezone section works, everything should be ok when you enter the world in step 6. I never done this myself before so idk if it will work

[2021-02-26 17:55] srnyx commented on #23
Alright. And at which step should I remove the mod from the mods folder?

[2021-02-26 17:56] TelepathicGrunt commented on #23
after backing up

[2021-02-26 17:57] TelepathicGrunt commented on #23
Basically:
- backup
- remove mod
- delete bumblezone from WorldGenSettings's dimension package in level.dat
- Enter world and see if it worked and the other dimensions are safe

[2021-02-27 21:02] runningwithscissors1337 commented on #17
Sorry for never responding to this @TelepathicGrunt, had an unrelated situation around the time you responded and completely forgot this was happening, I've felt like shit since for ignoring you, I've attempted to reproduce it with current versions of both mods and nothing works, I think I saw something from limitless about the issue being with another mod either way, but it seems to me like the i

[2021-02-27 21:05] TelepathicGrunt commented on #17
Ah that's ok lol. No hard feelings! Though I am interested about this issue so if you can give me your mod list, I can see if I can narrow down the mod that's nuking my water

[2021-02-27 21:08] runningwithscissors1337 commented on #17
ok, I'll be trying to recreate it, issue being I believe the mod folder has long since been deleted, if my terrible memory is accurate there was a comment on limitless with the issue so I'll look and test there, will update soon

[2021-02-27 21:41] runningwithscissors1337 commented on #17
my previous logs no longer open properly and all evidence bar this thread this issue ever existed seem scrubbed from the internet, no files from the original modpack still exist on my pc, including the history from chrome, can't find any old versions of the mod pages with the wayback machine, etc, so I am completely lost, sorry for reawakening this bug, seems it dropped dead before it could be fix

[2021-02-27 22:03] #17 closed

[2021-02-27 22:07] TelepathicGrunt commented on #17
Rip. oh well. I'll keep an eye out on if anyone else faces the same issue. But thank you for trying to help out!

[2021-02-27 22:08] runningwithscissors1337 commented on #17
np, sorry again for ignoring you lol, I wish you luck

[2021-02-28 12:55] TelepathicGrunt commented on #23
Gonna close this now as this should be resolved. lmk if you are still having issues

[2021-02-28 12:55] #23 closed

[2021-02-28 12:55] TelepathicGrunt opened #24 "Add compat with charm's candles (forge and fabric)"
title lol

[2021-03-02 20:37] TelepathicGrunt opened #25 "use fapi to register blocks"
![image](https://user-images.githubusercontent.com/40846040/109711746-3376af80-7b6d-11eb-9653-634ecdb3cdaa.png)

[2021-03-14 01:57] srnyx commented on #23
It seems like this worked. I hope it didn't break anything...

[2021-04-14 23:10] TelepathicGrunt commented on #25
v2.3.1 will have this

[2021-04-22 15:45] TelepathicGrunt commented on #25
done in 2.4.1

[2021-04-22 15:45] #25 closed

[2021-04-22 15:45] TelepathicGrunt commented on #24
done in 2.4.1

[2021-04-22 15:45] #24 closed

[2021-05-06 07:01] oliwoli opened #26 "missing sounds when building from source?"
Hey is it possible you forgot to add the sounds to this repo?

Because I'm getting these errors on launch:

[code]

[2021-05-06 11:10] TelepathicGrunt commented on #26
While the songs are fine for adding to my mod and distributing it that way, I am not sure all the songs would like the raw files being straight up distributed on GitHub so I gitignore them.

You should be able to run the game just fine and do mod compat easily that way.

However, if you are trying to build from source to play on, may I ask why? The curseforge page already has the very latest versi

[2021-05-06 15:05] oliwoli commented on #26
Understandable 👍 I messaged you on discord :)

[2021-05-06 15:06] TelepathicGrunt commented on #26
ah alright. I'll close this report then. We can chat there

[2021-05-06 15:06] #26 closed

[2021-05-09 21:53] JustaFloatingEyeYT opened #28 "BeehiveBlockMixin from Requiem crashes with Bumblezone"
Description: If the mod is installed in my fabric modpack on forge using jumploader (it isn't published as only I use the modpack) it will crash the game right after I press play on the Minecraft launcher, no Minecraft loading screen, unsure why.

Version of the mod: Latest version currently (2.4.2)

Forge version: Latest version currently (36.1.16)

MC Version: 1.16.5

List of mods in modpack (Go

[2021-05-10 20:40] JustaFloatingEyeYT commented on #28
After some mods I have were updated it was fixed :D must have been a comfliction.

[2021-05-11 16:44] JustaFloatingEyeYT commented on #28
I think that latest.log file is the same as the last one, not sure what is happening.

[2021-05-11 18:31] TelepathicGrunt commented on #28
Hmm. Using latest Bumblezone, Cardinal Components, Fabric API, and Cloth Config, I am not getting the same crash. It might be caused by another mod. Can you export your mod profile or mod folder so I can quickly test with that to see if it's another mod causing issues?
![image](https://user-images.githubusercontent.com/40846040/117866576-50161e80-b265-11eb-85e3-db4098e27b81.png)

[2021-05-11 18:53] JustaFloatingEyeYT commented on #28
Also I added and removed some mods so the mod list will be different than the one I gave originally, sorry I have just been using the modpack without bumblezone (it is installed just disabled)

[2021-05-11 19:09] TelepathicGrunt commented on #28
I disabled requiem and steel and the crash stopped. looking closer, it seems bumblezone's BeehiveBlockMixin is failing to be applied due to probably both of those mod's stuff. I'll look into them.

[2021-05-11 19:14] JustaFloatingEyeYT commented on #28
Alright, also I got rid of steel because it was creating crashes with everything for me :/ also aether was missing the trinkets mod so I added that. (check the newer zip I sent to see those changes)

[2021-05-11 19:15] TelepathicGrunt commented on #28
Oh it seems Requiem is using code directly from Bumblezone but as I updated, their code broke. I'll let them know to update

[2021-05-11 19:15] JustaFloatingEyeYT commented on #28
Ok.

[2021-05-11 19:56] JustaFloatingEyeYT commented on #28
Alright!

[2021-05-12 20:27] JustaFloatingEyeYT commented on #28
Was fixed :D the new update on requiem worked, thanks.

[2021-05-12 20:27] #28 closed

[2021-05-15 19:59] Cheeseman46 opened #29 "Game crashing on world load"
Whenever I try to start/load a world the game will crash instantly, i've tried reinstalling the mod, reinstalling fabric, starting a world first before modding and then starting it after modding, etc.

I'm completely stuck

"The game crashed whilst exception in server tick loop
Error: java.lang.ExceptionInInitializerError
Exit Code: -1"

Is what shows up when it crashes

![help](https://user-image

[2021-05-15 21:36] TelepathicGrunt commented on #29
Download the latest cardinal components mod. The version I Jar-in-jar into my mod is an older version that doesn’t work with newer fabric api

[2021-05-16 23:31] Cheeseman46 commented on #29
Thanks, this worked out

[2021-05-16 23:31] #29 closed

[2021-07-22 19:55] queenielawrens opened #30 "Mod Compatibility Config is Wonky (Image)"
I have a feeling this isn't what it's supposed to say.
![image](https://user-images.githubusercontent.com/67487848/126701461-0d739910-cd1c-497f-97c5-b58725f2c681.png)

Version:
BumbleZone: 3.0.6
Mod Menu: 2.0.3
Cardinal Components API: 3.1.0
Cloth Config: 5.0.34
Fabric API: 0.37.0
Minecraft: 1.17.1

[2021-07-22 20:06] TelepathicGrunt commented on #30
yeah it just means the lang file is missing those two entries. that's all lol. It's suppose to say "Adds Bumblezone items to Charm's Beekeeper trades!"

I'll throw this in into next update

[2021-07-22 20:31] TelepathicGrunt commented on #30
fixed in v3.0.7!

[2021-07-22 20:31] #30 closed, assigned to TelepathicGrunt

[2021-07-31 02:18] kotx opened #31 "Bees eat everything?"
Cobble, swords, enchanted items, air...

[2021-07-31 02:19] TelepathicGrunt commented on #31
Can you explain what you mean by this? I do not modify bee behavior to eat items

[2021-07-31 06:26] kotx commented on #31
In the README:

This seems to make bees eat anything. However it could be a mod conflict.

[2021-07-31 11:48] TelepathicGrunt commented on #31
The right click feeding is only suppose to work with honey bottle and other honey specific foods. I’ll double check the code but I thought you meant like bees burrowing through blocks or something lol. Always make your bug reports more specific as otherwise, I get confused lol.

[2021-07-31 12:04] TelepathicGrunt commented on #31
![image](https://user-images.githubusercontent.com/40846040/127739121-0b194cd4-7411-40cc-9741-435dfdbdab01.png)
ah i had my code backwards lol. This should've been exiting the code early if the tag doesnt contain the item. Not when it contains the item.

v3.0.8 is now released and properly only allows what is in the_bumblezone:bee_feeding_items tag to be able to be fed to bees

[2021-07-31 12:04] #31 closed, assigned to TelepathicGrunt

[2021-08-20 01:53] genfar1980 opened #32 "Bees eat anything 1.16.5"
I saw this was fixed for 1.17 but 1.16.5 still has this issue, and I can not just jump versions due to a lot of mods I use are still not 1.17 or are way to buggy to even consider using.

 Basicaly they will eat anything on your hotbar is your offhand is empty and whats in your offhand if its not empty.

[2021-08-20 01:59] TelepathicGrunt commented on #32
Im sorry but 1.16.5 Bumblezone is now unmaintained. I dont have the time to maintain multiple mod versions at once and getting 1.16.5 fabric workspace working kept giving me problems after the whole Java 16 stuff and some toolchain stuff jump to java 11 or whatnot. Another modder can make a pr and give me the built jar and I'll merge and upload that. But for now, 1.16.5 bumblezone isnt going to re

[2021-08-20 01:59] #32 closed, assigned to nobody

[2021-08-21 05:43] genfar1980 commented on #32
So I got a working jar but there is no sound folder as that did not seem to come with the github 1.16. source,  but from what I could tell on my server honey and sugar water in a bottle works and other items can not be fed to them anymore. But outside of the sound folder not in the jar it seems to work fine on my server. So how would i give you the jar file for this and would I have to put the sou

[2021-08-21 06:18] genfar1980 commented on #32
[zipped_up_jar.zip](https://github.com/TelepathicGrunt/Bumblezone-Fabric/files/7025011/zipped_up_jar.zip)
 I added the sound folder from  the other 1.16 file  and retested and sound works too  put it in a zip file to upload it here

[2021-08-21 16:39] TelepathicGrunt commented on #32
I saw your pr and i had to close it as it did not seem right. a proper pr to fix the bug would just touch the one line of code in beeinteractivity class but that pr looked like it was shoving a ton of 1.17 code into 1.16 which would blow up the game and make it fail in dev. I went ahead and tried setting up a 1.16.5 workspace and do the fix myself. I had to comment out libcd as that dependency for

[2021-10-31 00:43] nobodyawesomer opened #34 "Crash on Game Initialization"
Hi, I'm getting a crash when I start Minecraft with the bumblezone mod. I'm using MultiMC and have attached the crash log. The error is `Could not execute entrypoint stage 'client' due to errors, provided by 'the_bumblezone'!`.

[crash-2021-10-30_17.27.20-client.txt](https://github.com/TelepathicGrunt/Bumblezone-Fabric/files/7447819/crash-2021-10-30_17.27.20-client.txt)

Please let me know if ther

[2021-10-31 01:04] TelepathicGrunt commented on #34
It seems a mixin of mine is broken even though I thought I tested this. Will look into it soon

[2021-10-31 01:22] TelepathicGrunt commented on #34
v3.2.6 bumblezone is now out and should fix the crash. The issue is I had a mixin that goes into Fabric API. However, I had an old version of fabric API in my dev so when using a newer version of the api, my mixin crashed since the class I was targeting was moved to a different spot in the api. v3.2.6 now requires Fabric API 0.41.0 or newer.

Thank you for reporting this!

[2021-10-31 01:22] #34 closed, assigned to TelepathicGrunt

[2021-11-14 03:09] Bullseye55 opened #35 "Invalid Player Data Error"
When added to my modpack(of which I've updated the mods from previous versions in which The Bumblezone worked with), upon connecting to a newly-generated singleplayer world, I am disconnected due to invalid player data with the accompanying screen. No crash log is generated.

I've attached the log that goes through pack load, world generation, and then the disconnect+shutdown. This pack works fine

[2021-11-14 04:50] TelepathicGrunt commented on #35
Just linking Mc doom issue report to here too. https://github.com/AzureDoom/MCDoom/issues/19

See my response in Mc doom for more info and troubleshooting we can do to try and narrow down the issue

[2021-11-15 23:35] TelepathicGrunt commented on #35
Closing issue report as the cause of the issue is that the modpack had too much data to sync to itself lol
https://github.com/AzureDoom/MCDoom/issues/19#issuecomment-969437392

Nothing to do with bumblezone thankfully! Just means some mods need to be removed or XLpackets to increase the packet size even more

[2021-11-15 23:35] #35 closed, assigned to TelepathicGrunt

[2021-11-25 08:22] serioos opened #36 "Data Fixer log spam"
The server throws these errors when it starts up.

[10:37:33] [main/ERROR]: No data fixer registered for honey_slime
[10:37:33] [main/ERROR]: No data fixer registered for beehemoth
[10:37:33] [main/ERROR]: No data fixer registered for pollen_puff

[2021-11-25 12:33] TelepathicGrunt commented on #36
Yeah it’s just logspam. Data fixer is part of Data Fixer Upper which is used to allow Minecraft worlds to convert to newer version’s data formats. However, mods do not have a good way to register data fixers for entities and so, we can’t really tell it that it is intentional. I think there’s a Fabric API method I should use that skip that data fixer check but otherwise, there’s no issue or problem

[2021-11-25 16:01] TelepathicGrunt commented on #36
v3.4.1 is out and should reduce the logspam

[2021-11-25 16:01] #36 closed, assigned to nobody

[2022-01-09 10:51] TheButterbrotMan opened #37 "Minecraft has crashed! I net.fabricmc.loader.impl.FormattedException: java.lang.ExceptionInInitializerError"
Is crashing at starting

https://www.curseforge.com/minecraft/modpacks/deathdusk

https://pastebin.com/tvjmrND4

[2022-01-09 17:49] TelepathicGrunt commented on #37
Does the crash go away if you remove direbats mod?

[2022-01-10 00:46] TelepathicGrunt opened #38 "Incompat with mob catcher mod unable to catch tamed beehemoths"

[2022-01-10 23:05] TelepathicGrunt opened #39 "Users gets kicked off servers when in bumblezone dimension without info"
Remove bumblezone from servers until this is resolved

[2022-01-10 23:31] TelepathicGrunt commented on #39
Update to v4.1.3 bumblezone to fix this now and prevent clients from disconnecting on servers

[2022-01-10 23:31] #39 closed, assigned to TelepathicGrunt

[2022-01-13 00:15] #38 closed, assigned to TelepathicGrunt

[2022-01-13 05:49] OdessaCubbage opened #40 "Underground beehives generate surface beehives when entering bumblezone"
I have a beehive at -51 Y deep underground. When I throw an enderpearl at it or use a piston to push myself into it instead puts me on the surface next to a newly generated beehive on the same X and Z coordinates as the first one, in this case on top of a mountain in the snow with no trees around. Entering this new beehive then works fine and takes me to the bumblezone. This happens at any negativ

[2022-01-13 12:17] TelepathicGrunt commented on #40
Sounds like negative y is putting you in negative y Bumblezone which triggers code to exit Bumblezone. The y tries to be used to determine the y area you go to in Bumblezone but I guess I now have to make it a fixed y value now

[2022-01-13 12:32] TelepathicGrunt commented on #40
fixed in v4.2.1

[2022-01-13 12:32] #40 closed, assigned to TelepathicGrunt

[2022-01-13 12:33] OdessaCubbage commented on #40
Wow, thanks for the quick fix!

[2022-01-13 22:49] TelepathicGrunt commented on #37
Direbats just updated to address this issue. Closing now

[2022-01-13 22:49] #37 closed, assigned to TelepathicGrunt

[2022-01-14 15:40] TelepathicGrunt opened #41 "Possibly small cocoon or wrapped thing to hold items?"

[2022-01-15 14:49] TelepathicGrunt opened #42 "1.18.1 - FixedWaterlogging mod trying to make Honey Residue waterloggable"
It seems there's an unknown mod trying to make vines (i think?) waterloggable but that is killing my honey residue block badly.
https://www.curseforge.com/minecraft/mc-mods/the-bumblezone-fabric#c151

![image](https://user-images.githubusercontent.com/40846040/149626078-8d1c6fc9-a15c-40b0-b60e-0075f3e1158a.png)

Crashlog
https://paste.ee/p/nbwCl

This is the code that is crashing
https://imgur.com

[2022-01-15 15:12] TelepathicGrunt commented on #42
New problematic mod:
https://github.com/KxmischesDomi/FixedWaterlogging/blob/1.18/src/main/java/de/kxmischesdomi/fixedwaterlogging/mixin/CreateBlockStateDefinitionMixin.java

[2022-01-19 21:44] TheButterbrotMan commented on #42
https://pastebin.com/zRaxPpyh

[2022-01-19 22:27] TelepathicGrunt commented on #42
@TheButterbrotMan yeah ik it crashes with FixedWaterlogging lol. You'll have to wait till they update to using Statement Library as when I tested with their dev jar using that library, it resolved the crash

[2022-01-24 18:22] Skeithh opened #43 "Immense logspam after removal of the mod"
Hi, after removing the mod with the instructions provided by telepathicgrunt on the curseforge page, all in all things went fine at first. Dimensions didn't vanish etc etc, and all blocks were deleted fine. After a server restart post-deletion, suddenly everything went to hell. What I am getting problems with, is immense logspam in the form of this

![image](https://user-images.githubusercontent.c

[2022-01-24 18:26] Skeithh commented on #43
Additional... logspam of concern
![image](https://user-images.githubusercontent.com/74820899/150842072-b6158040-b4e9-4935-8f4b-1cd30bb787aa.png)

[2022-01-24 18:37] TelepathicGrunt commented on #43
These are just logspam but will not negatively impact the game. Cardinal Components logspams if it detects a component that is no longer existing due to removing a mod. The structure logspam is from vanilla when removing any mod with structures. Both are normal and just something to live with when removing mods from a world.

You probably could find a mod that lets you silence certain messages fro

[2022-01-24 18:39] Skeithh commented on #43
ugh, that's not great at all because I kind of actually need the logs to be readable and not 99% bumblezone.
I haven't had this issue with removing other mods at all which is why this became so alarming.

[2022-01-24 19:41] TelepathicGrunt commented on #43
The other mods you removed probably don’t use cardinal components or aren’t structure mods. The funny thing is the structure logspam when removing structure mods is actually on purpose by Fabric API. When they fixed an old bug where removing structure mods breaks the game, they chose to not turn off the logspam as they thought it was important for players to see. It really isn’t lol.

the mod that

[2022-01-25 12:42] TelepathicGrunt opened #44 "axes doesnt disable honey crystal shield"

[2022-01-25 12:49] TelepathicGrunt opened #45 "block under hive doesnt work for piston"
![image](https://user-images.githubusercontent.com/40846040/150979860-b25fcc31-d1d0-4352-8875-7eecfd62437b.png)

[2022-02-02 12:25] TelepathicGrunt commented on #43
Closing this as there isn’t anything I can do. It’s up to the Fabric API folks to change their mind about keeping the logspam for structure removals.

There is this for removing the structure references but it says it is having issues in 1.18.1. https://github.com/Nyveon/MCStructureCleaner

[2022-02-02 12:25] #43 closed, assigned to nobody

[2022-02-12 21:10] StockiesLad opened #46 "(Suggestion) Lighting sources for Bumblezone"
I really like the concept of this mod. It lacks light sources though.

[Glowing Honey Crystal]
This honey is spread out and dispersed everywhere and acts as a honey equivalent of glowstone. Simple and just adds a little more ambiance to the bumblezone.

[2022-02-12 21:56] TelepathicGrunt commented on #46
I'll think about it but right now, candles is the current main light source at the moment. may change but next update is already finalized and coming out soon. Maybe a future update i'll think about if a new light source is really needed

[2022-02-13 00:10] StockiesLad commented on #46
Sounds great! Thank you for responding so quickly!

[2022-02-13 00:10] #46 closed, assigned to nobody

[2022-02-13 03:56] #45 closed, assigned to TelepathicGrunt

[2022-02-13 03:57] TelepathicGrunt commented on #45
fixed now

[2022-02-13 03:57] TelepathicGrunt commented on #44
fixed now

[2022-02-13 03:57] #44 closed, assigned to TelepathicGrunt

[2022-02-13 03:58] TelepathicGrunt commented on #42
Fixed now in latest Bumblezone update. My Sticky Honey Residue block no longer extends VineBlock and so, should not be getting that extra blockstate anymore from FixedWaterlogging. Hopefully

[2022-02-13 03:58] #42 closed, assigned to TelepathicGrunt

[2022-02-13 03:58] TelepathicGrunt commented on #41
added now

[2022-02-13 03:58] #41 closed, assigned to TelepathicGrunt

[2022-02-13 10:48] TelepathicGrunt opened #47 "Fix requiem incompat"

[2022-02-13 12:07] TelepathicGrunt commented on #47
v4.3.1 now has more compat hooks for requiem. Next requiem update should fix incompat

[2022-02-14 02:03] TelepathicGrunt opened #48 "fix Lang file entry for thrown stinger spear"
Fix Lang file for thrown stinger spear
https://github.com/TelepathicGrunt/Bumblezone-Fabric/blob/1a299468e5b9f039e7df3e76f1eb17304f980647/src/main/resources/assets/the_bumblezone/lang/en_us.json#L54

![](https://media.discordapp.net/attachments/934096838716452874/942601495734542406/unknown.png)

[2022-02-15 03:24] #48 closed, assigned to TelepathicGrunt

[2022-02-15 03:35] TelepathicGrunt opened #49 "beehemoth leg animation doesnt match its state"
if a beehemoth is still on ground and another is flying, the ground one may move legs when it isnt supposed to.

[2022-02-15 13:13] pewblaze opened #50 "[1.18.1] [Fabric] Playdate crashes Bumblezone at startup"
I updated the Mod today & now ill get a crash after starting MC.
You can see the Crash in the log file.
Not sure what happened.

[latest.log](https://github.com/TelepathicGrunt/Bumblezone-Fabric/files/8069347/latest.log)

I'm using Fabric.
the_bumblezone_fabric-4.3.2+1.18.1
fabric-api-0.46.4+1.18
Fabric Modloader 0.13.2

[2022-02-15 13:17] TelepathicGrunt commented on #50
Caused by: org.spongepowered.asm.mixin.injection.throwables.InvalidInjectionException: @At("INVOKE") on net/minecraft/class_1754::thebumblezone_bottleFluidInteract with priority 1000 cannot inject into net/minecraft/class_1754::method_7836(Lnet/minecraft/class_1937;Lnet/minecraft/class_1657;Lnet/minecraft/class_1268;)Lnet/minecraft/class_1271; merged by net.yoruniii.play date.mixin.GlassBottleItem

[2022-02-15 13:29] TelepathicGrunt commented on #50
I can’t find play date anywhere. Do you have a link to that mod?

[2022-02-15 15:17] pewblaze commented on #50
https://www.curseforge.com/minecraft/mc-mods/playdate

Its a new mod, i downloaded it today too. didnt think about that :)

[2022-02-15 22:41] TelepathicGrunt opened #51 "see about REI item descriptions"

[2022-02-15 22:42] TelepathicGrunt opened #52 "add japanese lang file from a contributor!"
[ja_jp.zip](https://github.com/TelepathicGrunt/Bumblezone-Fabric/files/8075204/ja_jp.zip)

[2022-02-15 23:03] TelepathicGrunt opened #53 "change washing sound for honey residue/web"

[2022-02-16 22:34] Sunconure11 commented on #47
Still running into this with the latest build of Bumblezone

[2022-02-16 22:35] TelepathicGrunt commented on #47
@Sunconure11 Requiem hasn't updated yet to use the new bumblezone hooks and codebase. You have to wait a until their next update.

[2022-02-16 23:23] TelepathicGrunt opened #54 "Make beehemoth controls changable"
register new key controls in options menu where space is move up and caps lock is move down by default. Will need to be done on client side and send a packet to the server to let server know the state. Beehemoth on server will have two fields that is set by packet to know if to move up or move down.

[2022-02-17 00:04] TelepathicGrunt commented on #53
fixed in v4.3.3

[2022-02-17 00:04] #53 closed, assigned to TelepathicGrunt

[2022-02-17 00:05] TelepathicGrunt commented on #52
added in v4.3.3

[2022-02-17 00:05] #52 closed, assigned to TelepathicGrunt

[2022-02-17 00:05] TelepathicGrunt commented on #51
added in v4.3.3

[2022-02-17 00:05] #51 closed, assigned to TelepathicGrunt

[2022-02-18 03:50] TelepathicGrunt commented on #54
https://github.com/TelepathicGrunt/Bumblezone-Fabric/commit/ce7a9da900bdfde857f7dcd819e3c8ab24dd703e
https://github.com/TelepathicGrunt/Bumblezone/commit/6a5bdf822687b473645ef34f505558681c397915

[2022-02-20 19:34] TelepathicGrunt opened #55 "Make teleporting while riding entity use rider’s location"
Payer enters Bumblezone at 100x100 should return to 100x100 instead of world origin when exiting bumblezone while riding anything

[2022-02-21 18:39] TelepathicGrunt opened #56 "Convert all remaining reused sounds to specific sound.json entires"
Makes sure captions are correct and not unrelated

[2022-02-22 14:44] TelepathicGrunt opened #57 "Null entity crash with identity mod screen"
https://www.toptal.com/developers/hastebin/xuyumowexa.yaml

[2022-02-22 23:30] TelepathicGrunt commented on #57
fixed now

[2022-02-22 23:30] #57 closed, assigned to TelepathicGrunt

[2022-02-22 23:30] TelepathicGrunt commented on #55
fixed now

[2022-02-22 23:30] #55 closed, assigned to TelepathicGrunt

[2022-02-22 23:31] TelepathicGrunt commented on #54
released now

[2022-02-22 23:31] #54 closed, assigned to TelepathicGrunt

[2022-02-22 23:31] TelepathicGrunt commented on #49
fixed

[2022-02-22 23:31] #49 closed, assigned to TelepathicGrunt

[2022-02-22 23:31] TelepathicGrunt opened #58 "fixed lang file for cloth config entries"

[2022-02-27 23:12] KMFrench1 opened #59 "[Request] Please add a config"
Will you please add a config option to return to the same overworld coordinates that you entered the bumble dimension from. That way it feels like I am entering that specific hive and am leaving the same hive. Right now,  when leaving after exploring the bumblezone and appearing in a spot hundreds of blocks away does not feel like I was "in" the hive.
I am not sure how hard that is to program, if

[2022-02-28 00:49] KMFrench1 commented on #59
Never mind, I found the config. It was already there. I am just blind. Sorry

[2022-02-28 00:49] #59 closed, assigned to nobody

[2022-02-28 01:55] TelepathicGrunt commented on #59
No problem lol. Glad you found it!

[2022-03-03 02:55] TelepathicGrunt opened #60 "Datapack error screen when entering world with Disable VIllagers mod"
https://github.com/stratecide/DisableVillagers/issues/3

[2022-03-06 16:09] kittech0 opened #61 "Port to 1.18.2"
Port for fabric 1.18.2

[2022-03-06 16:11] TelepathicGrunt commented on #61
@JustFoxx please stop. This and repurposed structures already are ported to 1.18.2. Check out my curseforge mod pages for the link. I'm going to block you from my github for about 10 minutes so you can see my message here instead of continuing on my other github pages.

[2022-03-06 16:11] #61 closed, assigned to nobody

[2022-03-06 16:30] kittech0 commented on #61
Sorry, but curseforge didnt showed for me that your mod has 1.18.2 update

[2022-03-08 01:18] TelepathicGrunt opened #62 "[1.18.1] Adding bumblezone to an existing Terrablender world will not generate bumblezone dimension"
https://github.com/Glitchfiend/TerraBlender/issues/38

Terrablender has to fix this on their end. That mod will prevent my mod's dimension from generating if my mod is added after the world is made. Meaning, You have to start the world in single player with the dimension and then move the world to the server. or maybe temporarily remove terrablender, start world, exit world, and then readd terrabl

[2022-03-12 19:28] TelepathicGrunt opened #63 "Add bumblezone items to friends and foes's beekeeper trades"
https://www.curseforge.com/minecraft/mc-mods/friends-and-foes

[2022-03-13 14:08] TelepathicGrunt commented on #63
added in 5.0.4 bz

[2022-03-13 14:08] #63 closed, assigned to TelepathicGrunt

[2022-03-13 14:08] TelepathicGrunt commented on #58
done in 5.0.4 bz

[2022-03-13 14:08] #58 closed, assigned to TelepathicGrunt

[2022-03-13 14:08] TelepathicGrunt commented on #56
done in 5.0.4 bz

[2022-03-13 14:08] #56 closed, assigned to TelepathicGrunt

[2022-03-20 21:21] CDAGaming commented on #62
This can probably be pinned/closed, considering this isnt going to be fixed in .1, but has been in 1.18.2

[2022-03-20 21:22] #62 closed, assigned to TelepathicGrunt

[2022-03-20 22:05] CDAGaming commented on #62
![image](https://user-images.githubusercontent.com/16328918/159187974-6573b8cd-4d31-4fd3-ad0a-03fdcb8c8070.png)

Specific instructions for those in need of a workaround

[2022-03-31 11:12] SHXRKIEgg opened #64 "Friends and Foes Incompatibility"
Crash

[crash-2022-03-31_00.18.24-server.txt](https://github.com/TelepathicGrunt/Bumblezone-Fabric/files/8388751/crash-2022-03-31_00.18.24-server.txt)

[2022-04-01 02:22] TelepathicGrunt commented on #64
fixed now with https://github.com/TelepathicGrunt/Bumblezone-Fabric/commit/89b682b152b580db41b83ef16a5497549f0423d0

[2022-04-01 02:22] #64 closed, assigned to TelepathicGrunt

[2022-04-03 00:52] Kroko1337 opened #65 "Crash when starting (1.18.2) | RuntimeException"
crash log: https://pastebin.com/ENZhrBZD

[2022-04-03 00:56] TelepathicGrunt commented on #65
please remove optifine and optifabric and try again. If it is does not crash, then the issue is with optifine wrecking mc's source code in a way that I cannot be easily compatible with.

[2022-04-28 04:10] EmeraldRalts opened #66 "Crash upon rendering player with cosmetic armor mod"
[crash-2022-04-27_23.56.28-client.txt](https://github.com/TelepathicGrunt/Bumblezone-Fabric/files/8579424/crash-2022-04-27_23.56.28-client.txt)

Upon rendering a player with HoneyBee equipment equipped, with cosmetic armor mod overriding the equipment, game crashes. Have tested other modded armors and none have resulted in a crash in the same manner.

How to recreate:
Equip Bumble Bee Chestplate i

[2022-04-28 10:11] TelepathicGrunt commented on #66
Looking at their GitHub, they are crashing with other mod’s armor. I’m going to make a bug report on their GitHub instead as this seems more like an issue on cosmetic armor mod’s side I think. Or at the very least, they can explain what’s going on and what needs to be done on my end to not break how that mod works with their mixins that is showing up in your stacktrace.

https://github.com/apace10

[2022-04-28 20:00] TelepathicGrunt commented on #66
Cosmetic Armor just updated to fix the incompatibility they had with Geckolib. Now Bumblezone armor should no longer crash with those two mods on. Update Cosmetic Armor and give it a shot!

[2022-04-28 20:00] #66 closed, assigned to TelepathicGrunt

[2022-05-06 23:10] TelepathicGrunt commented on #65
closing as no further info was provided. Gonna assume it was indeed optifine that was the issue

[2022-05-06 23:10] #65 closed, assigned to TelepathicGrunt

[2022-05-25 18:25] TelepathicGrunt opened #67 "Add config to turn off teleporting out of bumblezone"
Better compat with immersive portals. Have config be able to turn off teleporting into Bumblezone and out of bumblezone as well

[2022-05-25 23:44] TelepathicGrunt commented on #67
added in commit 99381fba4a9fd856e31f6df6f7937262e842ec1d

[2022-05-28 02:07] James103 opened #68 "[Fabric 1.18.1] Incompatibility with Identity mod"
Somebody just posted the following crash report in https://github.com/Draylar/identity/issues/344:
https://mclo.gs/wurBl3f

The game appears to be crashing here because `entity.level` is null since the entities are added and rendered in a client-side GUI only.
https://github.com/TelepathicGrunt/Bumblezone-Fabric/blob/6bca5d128eada4790695ffd31428452625437d08/src/main/java/com/telepathicgrunt/the_bu

[2022-05-28 02:13] TelepathicGrunt commented on #68
I am no longer supporting minecraft versions older than latest. Though the real question here is why are they creating an entity without a level? That’s very concerning tbh.

I’ll add the check to the 1.18.2 or 1.19 version depending when my next update comes out. Though they should really make entities have a level (world) always or else I feel like other mods would also crash as well since i wou

[2022-05-29 22:14] TelepathicGrunt commented on #68
check is added in latest 1.18.2 version now

[2022-05-29 22:14] #68 closed, assigned to TelepathicGrunt

[2022-05-29 22:14] TelepathicGrunt commented on #67
released now

[2022-05-29 22:14] #67 closed, assigned to TelepathicGrunt

[2022-05-30 14:55] SplendidAlakey opened #69 "Server crash after updating to 5.1.1"
**MC** 1.18.2
**Fabric API** 0.53.4
**Bumblezone** 5.1.1

After updating from 5.0.14 the server no longer starts, shows the following error: https://gist.github.com/Footage2-Amply-Pounce/8316eb869eac3bf9e2ff513a185ee586

Version 5.1.0 is also affected. Last working version is 5.0.14.

Client is not affected.

[2022-05-30 15:32] TelepathicGrunt commented on #69
fixed in v5.1.2 which is released now. I forgot to test server and ended up calling clientside code in a spot that the server was reading and crashing on. Thank you for reporting this!

[2022-05-30 15:32] #69 closed, assigned to TelepathicGrunt

[2022-06-30 22:48] TelepathicGrunt commented on #47
Requiem has updated to fix the crash now:
https://www.curseforge.com/minecraft/mc-mods/requiem/files/3852823

[2022-06-30 22:48] #47 closed, assigned to TelepathicGrunt

[2022-07-11 22:01] TelepathicGrunt opened #70 "Beehemoth is broken on 1.19"
follows players always. Cannot be fed. Cannot be controlled when rode.

[2022-07-19 05:11] ImpSpy2 opened #71 "Game crashes at the Bumblezone world border - Fabric 1.19/1.18.2"
[crash-2022-07-19_05.54.48-server.txt](https://github.com/TelepathicGrunt/Bumblezone-Fabric/files/9137673/crash-2022-07-19_05.54.48-server.txt)

[2022-07-19 14:28] TelepathicGrunt commented on #71
Bigger question is why the heck are you at world border lol

[2022-07-19 15:57] ImpSpy2 commented on #71
Just testing for a personal modpack, I guess you could say I like to be thorough 😄

[2022-07-22 02:10] TelepathicGrunt commented on #70
fixed in v6.1.0

[2022-07-22 02:10] #70 closed, assigned to TelepathicGrunt

[2022-07-22 02:10] TelepathicGrunt commented on #71
fixed in v6.1.0

[2022-07-22 02:10] #71 closed, assigned to TelepathicGrunt

[2022-07-22 14:12] TelepathicGrunt opened #72 "Make honey compass say block name when attached to block location"

[2022-07-22 20:12] TelepathicGrunt commented on #72
added in v6.1.1

[2022-07-22 20:12] #72 closed, assigned to TelepathicGrunt

[2022-07-22 22:23] TelepathicGrunt opened #73 "Make sure shulker boxes cannot take Honey Cocoons through Hoppers"

[2022-07-25 11:28] TelepathicGrunt commented on #73
Fixed in 6.1.1 quilt

[2022-07-25 11:28] #73 closed, assigned to TelepathicGrunt

[2022-07-25 11:58] TelepathicGrunt opened #74 "Optimizations to do."
Take repurposed structure’s optimized structure generation code and put it into Bumblezone instead of using vanilla’s.

make sure honey cocoon is not self-generating loottables without being opened

make honey compass async structure locating (bonus)

[2022-07-26 00:59] TelepathicGrunt commented on #74
finished and released in v6.1.2

[2022-07-26 00:59] #74 closed, assigned to TelepathicGrunt

[2022-07-26 01:12] TelepathicGrunt opened #75 "Investigate possible false alarm logging of saved dimensions on players."
![image](https://user-images.githubusercontent.com/40846040/180901146-5cbc1a80-ff12-4d44-ac77-638924ebda97.png)

[2022-07-28 11:50] TelepathicGrunt opened #76 "Crash when throwing Pollen Puff at certain entities"
May be an issue with fake player api.
https://github.com/CafeteriaGuild/fake-player-api/issues/5

[2022-07-29 01:23] TelepathicGrunt commented on #75
fixed in v6.1.5

[2022-07-29 01:23] #75 closed, assigned to TelepathicGrunt

[2022-07-29 01:23] TelepathicGrunt commented on #76
fixed in v6.1.5

[2022-07-29 01:23] #76 closed, assigned to TelepathicGrunt

[2022-08-03 01:00] ericvasile opened #77 "crashes server when a specific player loads an entity, but shows bumblezone in crash logs"
I was wondering if you could assist me in reading and understanding this. It seems that for some reason, one specific player from our group of three has issues when loading certain entities. However, this only occurs randomly, which leads me believe to be entity corruption issues, but the crash logs show bumble zone as being the cause.

Crash Logs: https://mclo.gs/28TI7ro

[2022-08-03 01:08] TelepathicGrunt commented on #77
This crash was already fixed in v6.1.4 Bumblezone. Please update bumblezone to latest version and the issue should go away. Specifically, this was the change introduced in v6.1.4:

##### Mod Compat:
Fixed crash if a mod passes null into beehivetileentity.emptyAllLivingFromHive.
 I added a null check to my code to prevent a crash.

 if you still get the issue with latest bumblezone, let me know wit

[2022-08-03 01:08] #77 closed, assigned to TelepathicGrunt

[2022-08-03 01:22] ericvasile commented on #77
So: is this causing the "exception ticking world". Because this only occurs to one person on the server, and not to the other two members. It leads me to believe that it's a client side issue.

I can't update it since I'm using the BetterMC v4 pack and using it through exaroton, which allows installation of modpacks but can't edit the mods in the server files themselves.

Let me know.

[2022-08-05 21:20] tubesteakpiledriver opened #78 "Crashing after world loads"
I don't know anything about java, I looked and can't find a solution, does anybody know if Bumblezone is the issue here? I could be an idiot for sure, but it looks like Bumblezone has something to do w it? I just don't want to start another world, especially if I cant figure out what happened. Sorry for my ignorance, any help is appreciated.

Time: 8/5/22, 5:05 PM
Description: Exception ticking wo

[2022-08-05 21:32] TelepathicGrunt commented on #78
Please update fabric Bumblezone to v6.1.4 as I already fixed this issue in that version. Here’s part of the changelog:

Mod Compat:
Fixed crash if a mod passes null into beehivetileentity.emptyAllLivingFromHive. I added a null check to my code to prevent a crash.

that should resolve your crash for good. Hope this helps!

[2022-08-05 21:32] #78 closed, assigned to nobody

[2022-08-06 18:35] TelepathicGrunt opened #79 "unhardcode mob spawning from initial chunk creation or make it check if biome has mob first"
Probably will make it check for mob first so people can remove beehemoth from biome json and the initial chunk creation code will not spawn beehemoth anymore

[2022-08-10 01:30] TelepathicGrunt commented on #79
looks like it is already unhardcoded and using creatures from the biome's creature category
![image](https://user-images.githubusercontent.com/40846040/183790672-a03c06f1-ca83-4d20-a7a6-8fe1f86af09c.png)

[2022-08-10 01:30] #79 closed, assigned to TelepathicGrunt

[2022-08-12 23:15] #60 closed, assigned to TelepathicGrunt

[2022-08-12 23:15] #50 closed, assigned to TelepathicGrunt

[2022-08-12 23:17] TelepathicGrunt opened #80 "Report issues to https://github.com/TelepathicGrunt/Bumblezone/issues instead!"
I have combined my two bumblezone repositories together and now https://github.com/TelepathicGrunt/Bumblezone-Quilt/issues is a dead repo.

Please report issues with Quilt/Fabric Bumblezone to this other repo!
https://github.com/TelepathicGrunt/Bumblezone/issues

Thank you!

[2022-09-06 19:07] Salliemaej opened #81 "Game crash problem identified as Bumblezone-Quilt"
My game, after an update to Minecraft, crashed when I tried to start a new world. I am using the Medieval Minecraft mod pack and Bumble-Quilt is part of it. The error code that popped up after the crash was: The game crashed whilst mouseclicked event handler
Error: java.lang.IllegalStateException: Trying to access unbound value 'ResourceKey[minecraft:worldgen/noise_settings / the_bumblezone:bz_noi

[2022-09-06 19:10] #81 closed

[2022-09-06 19:11] Salliemaej opened #82 "Game crashing after update. Error code reported Bumblezone as problem"
My game, after an update to Minecraft, crashed when I tried to start a new world. I am using the Medieval Minecraft mod pack and Bumble-Quilt is part of it. The error code that popped up after the crash was: The game crashed whilst mouseclicked event handler
Error: java.lang.IllegalStateException: Trying to access unbound value 'ResourceKey[minecraft:worldgen/noise_settings / the_bumblezone:bz_noi

[2022-09-06 19:16] TelepathicGrunt commented on #82
Moved over to this issue report:
https://github.com/TelepathicGrunt/Bumblezone/issues/134

[2022-09-06 19:16] #82 closed